In [3]:
import pandas as pd

data = pd.read_csv('match_data.csv')

print(data.head())

   Unnamed: 0 Result    Margin  BR  Toss  Bat   Opposition     Ground  \
0         418    won   85 runs NaN  lost  1st      v India    Kolkata
1         692   lost   85 runs NaN   won  2nd   v Pakistan    Kolkata
2         419   lost   10 runs NaN  lost  2nd      v India      Delhi
3         693    won   10 runs NaN   won  1st   v Pakistan      Delhi
4         121   lost  107 runs NaN  lost  2nd  v Australia  Melbourne

  Start Date    Match_ID   Country  Country_ID
0  03-Jan-13  ODI # 3315  Pakistan           7
1  03-Jan-13  ODI # 3315     India           6
2  06-Jan-13  ODI # 3316  Pakistan           7
3  06-Jan-13  ODI # 3316     India           6
4  11-Jan-13  ODI # 3317  SriLanka           8

In [4]:
print(data.head(10))

   Unnamed: 0 Result     Margin    BR  Toss  Bat   Opposition     Ground  \
0         418    won    85 runs   NaN  lost  1st      v India    Kolkata
1         692   lost    85 runs   NaN   won  2nd   v Pakistan    Kolkata
2         419   lost    10 runs   NaN  lost  2nd      v India      Delhi
3         693    won    10 runs   NaN   won  1st   v Pakistan      Delhi
4         121   lost   107 runs   NaN  lost  2nd  v Australia  Melbourne
5        1096    won   107 runs   NaN   won  1st  v Sri Lanka  Melbourne
6         694   lost     9 runs   NaN  lost  2nd    v England     Rajkot
7         852    won     9 runs   NaN   won  1st      v India     Rajkot
8         122    won  8 wickets  59.0   won  2nd  v Australia   Adelaide
9        1097   lost  8 wickets  59.0  lost  1st  v Sri Lanka   Adelaide

  Start Date    Match_ID    Country  Country_ID
0  03-Jan-13  ODI # 3315   Pakistan           7
1  03-Jan-13  ODI # 3315      India           6
2  06-Jan-13  ODI # 3316   Pakistan           7
3  06-Jan-13  ODI # 3316      India           6
4  11-Jan-13  ODI # 3317   SriLanka           8
5  11-Jan-13  ODI # 3317  Australia           2
6  11-Jan-13  ODI # 3318      India           6
7  11-Jan-13  ODI # 3318    England           1
8  13-Jan-13  ODI # 3319   SriLanka           8
9  13-Jan-13  ODI # 3319  Australia           2

In [6]:
'''Q1: Write a Python script to download or load the dataset into a Pandas DataFrame.
Q2: Load the dataset into a Pandas DataFrame and display the first five rows. What initial insights can you gather from this data?
Q3: Check the number of rows and columns in the dataset using Pandas functions.
Q4: Identify missing values in the dataset using the isnull() function. Which columns have missing values, and how many?
Q5: Generate summary statistics of the dataset using the describe() function. Explain what insights you derive from the statistical summary.
Q6: List all the variable names and their data types. Provide a brief description of each variable and its significance in evaluating player performance.
Q7: Identify variables with incorrect data types (e.g., numerical values stored as strings). Write a Python script to convert these variables into the correct format.
Q8: Explain why data type conversion is necessary for accurate performance analysis. Provide an example from your dataset where type conversion improves data usability.'''

'Q1: Write a Python script to download or load the dataset into a Pandas DataFrame.\nQ2: Load the dataset into a Pandas DataFrame and display the first five rows. What initial insights can you gather from this data?\nQ3: Check the number of rows and columns in the dataset using Pandas functions.\nQ4: Identify missing values in the dataset using the isnull() function. Which columns have missing values, and how many?\nQ5: Generate summary statistics of the dataset using the describe() function. Explain what insights you derive from the statistical summary.\nQ6: List all the variable names and their data types. Provide a brief description of each variable and its significance in evaluating player performance.\nQ7: Identify variables with incorrect data types (e.g., numerical values stored as strings). Write a Python script to convert these variables into the correct format.\nQ8: Explain why data type conversion is necessary for accurate performance analysis. Provide an example from your dataset where type conversion improves data usability.'

In [18]:
print(data.shape)

print(data.isnull().sum())

print(data.describe())

print(data.dtypes)

(1322, 12)
Unnamed: 0      0
Result          0
Margin          0
BR            716
Toss            0
Bat             0
Opposition      0
Ground          0
Start Date      0
Match_ID        0
Country         0
Country_ID      0
dtype: int64
        Unnamed: 0          BR   Country_ID
count  1322.000000  606.000000  1322.000000
mean    661.500000   51.409241     8.560514
std     381.772838   55.924337    10.337003
min       1.000000    0.000000     1.000000
25%     331.250000   10.000000     3.000000
50%     661.500000   30.500000     5.000000
75%     991.750000   75.000000     8.000000
max    1322.000000  250.000000    40.000000
Unnamed: 0      int64
Result         object
Margin         object
BR            float64
Toss           object
Bat            object
Opposition     object
Ground         object
Start Date     object
Match_ID       object
Country        object
Country_ID      int64
dtype: object